In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
import os

directory = r"C:\Users\mahno\Documents\Thesis\datasets\synthetic data\carnival_data_generator\data"
files_arr= []
for root, dirs, files in os.walk(directory):
    for filename in files:
        ext = os.path.splitext(filename)[-1].lower()
        if ext == ".csv":
#         print(os.path.join(root, filename))
            files_arr.append(os.path.join(root, filename))

In [5]:
def f(file):
#     print(file)
    if os.path.getsize(file):
        df = pd.read_csv(file, skiprows=6, header=None)
        return df
    return None

data_frame = pd.concat(map(f, files_arr))

In [8]:
data_frame.columns = ["id", "row", "col", "timestamp"]

In [9]:
data_frame.head()

   id  row  col            timestamp
0  10   84   52  2022-01-30 15:23:41
1  10   81   52  2022-01-30 15:23:42
2  10   78   52  2022-01-30 15:23:43
3  10   99   51  2022-01-30 15:23:44
4  10   96   52  2022-01-30 15:23:45

In [10]:
data_frame.describe()

                  id            row            col
count  651843.000000  651843.000000  651843.000000
mean       56.807583      46.715697      28.526590
std        29.160732      25.929050      16.205723
min         8.000000       0.000000       7.000000
25%        32.000000      34.000000      17.000000
50%        55.000000      43.000000      25.000000
75%        82.000000      64.000000      45.000000
max       107.000000      99.000000      52.000000

In [11]:
id_10 = data_frame[data_frame["id"] == 10]

In [20]:
def to_lat_lng(pos, num_rows, num_cols, min_lat, max_lat, min_lng, max_lng):

    degree_change_row = (max_lng - min_lng) / num_rows
    new_lat = max_lng - degree_change_row*pos[0]

    degree_change_col = (max_lat - min_lat) / num_cols
    new_lng = min_lat + degree_change_col*pos[1]
    return (new_lng,new_lat)

def to_lat(pos, num_rows, num_cols, min_lng, max_lng):

    degree_change_row = (max_lng - min_lng) / num_rows
    new_lat = max_lng - degree_change_row*pos[0]
    return new_lat

def to_lng(pos, num_rows, num_cols, min_lng, max_lng):

    degree_change_col = (max_lat - min_lat) / num_cols
    new_lng = min_lat + degree_change_col*pos[1]
    return new_lng

In [22]:
id_10["lat"] = id_10.apply(lambda row:to_lat((row.row, row.col), 100, 60, 6.18461, 6.28504), axis = 1)

<ipython-input-22-6d80a969e198>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  id_10["lat"] = id_10.apply(lambda row:to_lat((row.row, row.col), 100, 60, 6.18461, 6.28504), axis = 1)

In [ ]:
id_10["lng"] = id_10.apply(lambda row:to_lng((row.row, row.col), 100, 60, 49.63364, 49.70011), axis = 1)

In [15]:
id_10.head

<bound method NDFrame.head of       id  row  col            timestamp                          latitude
0     10   84   52  2022-01-30 15:23:41    (49.69124733333334, 6.2006788)
1     10   81   52  2022-01-30 15:23:42    (49.69124733333334, 6.2036917)
2     10   78   52  2022-01-30 15:23:43    (49.69124733333334, 6.2067046)
3     10   99   51  2022-01-30 15:23:44           (49.6901395, 6.1856143)
4     10   96   52  2022-01-30 15:23:45    (49.69124733333334, 6.1886272)
...   ..  ...  ...                  ...                               ...
5925  10   14   51  2022-01-30 17:02:26           (49.6901395, 6.2709798)
5926  10   11   51  2022-01-30 17:02:27           (49.6901395, 6.2739927)
5927  10    8   51  2022-01-30 17:02:28   (49.6901395, 6.277005600000001)
5928  10    5   51  2022-01-30 17:02:29   (49.6901395, 6.280018500000001)
5929  10    2   51  2022-01-30 17:02:30  (49.6901395, 6.2830314000000005)

[5930 rows x 5 columns]>

In [16]:
split = id_10['latitude'].str.split(',', 1, expand=True)
df_split = id_10.assign(lat=split[0], lng=split[1])

KeyError: 1